vault_address       = ""
vault_token         = ""
service_repo        = ""
service_repo_ver    = ""
helm_repo           = ""
service_name        = ""
service_env         = ""
service_image_repo  = ""
service_image_tag   = ""
service_namespace   = ""
argocd_address      = ""
argocd_token        = ""
argocd_project      = ""
